* {
  box-sizing: border-box;
}

body {
  font-family: 'lato';
}

.app {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.prim-link {
  text-decoration: none;
  color: #4a69bd;
  font-size: 17px;
}

.prim-link:hover {
  text-decoration: underline;
}

.ml-1 {
  margin-left: 1rem;
}

.container {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
}

.heading h1 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: montserrat;
  color: #1d1c24;
}

.heading p {
  color: #6d6c74;
  font-size: 1.3rem;
}

.categories {
  margin-bottom: 30px;
}

.input-control {
  width: 100%;
  background: white;
  border: 1px solid #e2e2e2;
  /* border: 0; */
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 1.1rem;
  color: rgb(131, 131, 131);
  outline: none;
  font-family: 'lato';
}

.input-control::placeholder {
  color: rgb(180, 180, 180);
}

.form-group {
  margin-bottom: 20px;
}

.cat-dropdown {
  width: 100%;
  background: white;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 12px 20px;
  font-size: 1rem;
  color: rgb(66, 66, 66)
}

.button-wrapper {
  text-align: center;
}

.button {
  display: inline-block;
  background: white;
  padding: 14px 40px; 
  color: #fff;
  border: 0;
  background: #e55039;  
  border-radius: 33px;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
}

.button.secondary {
  background: #d7d6db;
  color: #86858b;
}

.button.secondary:hover {
  background: #848288;
}

.button:disabled {
  opacity: .3;
  cursor: auto;
}


.button:hover {
  background: #e55039;
  color: white;
}

.challenge-card {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.2rem;
  background: #4a69bd;
  border-radius: 8px;
  /* border: 1px solid #c2d0d4; */
  padding: 35px 30px;
  color: white;
  text-align: center;
  width: 580px;
  max-width: 100%;
  /* min-height: 90px; */
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 7px #4a69bd;
}

.challenge-card p {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.6;
}

.challenge-card h2 {
  margin: 0 0 18px 0;
  font-family: 'montserrat';
  font-weight: 600
}


.loading-spinner {
  margin-top: 50px;
  width: 40px;
  height: 40px;
  position: relative;
  /* background: #ccc; */
  border-radius: 50%;
  left: calc(50% - 20px);
  animation: spin .6s linear infinite;
}

.loading-spinner:after, .loading-spinner:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loading-spinner:after {
  border: 2px solid #dde2f3;
}

.loading-spinner:before {
  border: 2px solid transparent;
  border-right-color: #4a69bd;
  border-left-color: #4a69bd;
  
  z-index: 10;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}


.share-icon {
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
  color: white;
  transition: opacity .3s ease;
}

.share-icon:hover {
  opacity: .7;
}

.share-icon i {
  font-size: 24px;
}